@model ConcediuAngajati.Models.CerereConcediu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>CerereConcediu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TipConcediu" class="control-label"></label>
                <input asp-for="TipConcediu" class="form-control" />
                <span asp-validation-for="TipConcediu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Descriere" class="control-label"></label>
                <input asp-for="Descriere" class="form-control" />
                <span asp-validation-for="Descriere" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCerereId" class="control-label"></label>
                <input asp-for="StatusCerereId" class ="form-control" />
                <span asp-validation-for="StatusCerereId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AngajatId" class="control-label"></label>
                <input asp-for="AngajatId" class ="form-control"/>
                <span asp-validation-for="AngajatId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
